.upload__area {
  border: 1px dashed rgb(32, 105, 201);
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
  padding: 3rem 0;
  margin-top: 2rem;
  text-align: center;
}

.upload__area input[type="file"] {
  visibility: hidden;
  position: absolute;
}

.upload__area--over {
  border-style: solid;
}

.icon {
  width: 50%;
  margin: 0 auto;
}
